* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('dramatic-sunset-sky-background-with-fiery-clouds-yellow-orange-pink-colour-nature-background-beautiful-skies_185193-6158.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

login-form h1 {
    margin-bottom: 20px;
    text-align: center;
}

login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
